body {
  font-color: black;
  background-color: mistyrose;
}

#afterSubmit {
  visibility: hidden;
}
p {
  font-size: 20px;
  font-weight: bold;
}

input {
  font-size: 20px;
}

h1 {
  text-align:center;
}
